<table class="table px-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each badges}}
        <tr>
            <td>{{ name }}</td>
            <td>{{ description }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>