<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4 text-white">Writer's Crossing</span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-2">
                <h1 class="display-5 fw-bold">Welcome in!</h1>

                <p class="fs-4">
                    Writer’s Crossing strives to be a robust, safe, and inclusive environment focused on reading and
                    writing.</p>

                <p class="fs-4">
                    By fostering creativity, good writing habits, providing solid resources and quality activities for
                    self-improvement,
                    we encourage furries of all skill levels to write.
                </p>

                <p class="fs-4">
                    Through free sharing of ideas and critique and our members collective experience and our safe harbor
                    approach,
                    we advocate for the importance of writing in the furry fandom, where the arts flourish,
                    and bring the much underappreciated language arts to a more visible place.
                </p>

                <button class="mt-3 btn btn-primary btn-lg" type="button">Join our Discord</button>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Monthly Leaderboard</h2>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tg-0pky">Ranking</th>
                                <th class="tg-0pky">User</th>
                                <th class="tg-0pky">Word Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-0pky">a</td>
                                <td class="tg-0pky">b</td>
                                <td class="tg-0pky">c</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>All Time Leaderboard</h2>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tg-0pky">Ranking</th>
                                <th class="tg-0pky">User</th>
                                <th class="tg-0pky">Word Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-0pky">a</td>
                                <td class="tg-0pky">b</td>
                                <td class="tg-0pky">c</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>